.sites-header{
    background: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(./../img/bg_decor_4.jpg);
    background-size: cover;
}
.bg-head-bottom{
    transform: rotate(180deg);
}
.sites-header .head-info h1{
    font-family: 'Caviar Dreams';
    font-size: 50px;
    line-height: 150%;
    text-align: center;
    font-weight: 300;
    margin-bottom: 50px;
    margin-top: 50px;
}
.way{
    margin-top: 50px;
    margin-bottom: 100px;
    align-items: center;
}
.way span{
    margin-right: 30px;
    margin-bottom: 10px;
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
}
.head_service{
    position: relative;
    font-family: 'Caviar Dreams';
    font-weight: 100;
    font-size: 32px;
    line-height: 37px;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.head_service::after{
    content: '';
    position: absolute;
    background: url('./../img/head-animate.png');
    background-size: cover;
    width: 40px;
    height: 40px;
    top: 50%;
    transform: translate(50px, -50%);
}
.service_effect_descr{
    padding-bottom: 100px;
}
.service_effect_descr li{
    margin-bottom: 15px;
}
.service_effect_descr li img{
    width: 30px;
    margin-right: 25px;
}
.service_effect_descr li span{
    font-family: 'Montserrat';
    font-weight: 100;
    font-size: 20px;
    line-height: 175%;
}
.service_about{
    width: 100%;
    background: linear-gradient(260.07deg, #262626 51.54%, rgba(0, 0, 0, 0) 92.11%), url('./../img/service/service_about_bg.png'), #262626;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.service_card_about{
    margin-top: 30px;
    padding-bottom: 150px;
}
.service_card_about .serv_img img{
    padding-right: 30px;
}
.service_card_about .serv_text{
    max-width: 450px;
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 20px;
    line-height: 175%;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 30px;
}
.service_about_image_bottom{
    transform: rotate(180deg);
    position: absolute;bottom: -2px;
}
.process_development{
    margin-top: 100px;
    margin-bottom: 100px;
}
.process_development ul{
    margin-top: 50px;
}
.service_form{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('./../img/service/bg_form.png'), #262626;
    background-size: cover;
    border-radius: 0px 30px 30px 0px;
    min-width: 550px;
    width: 550px;
    padding: 30px 40px;
    margin-right: 60px;
}
.btn_service_form{
    width: 100% !important;
}
.order_me{
    margin-right: 5px;
}
.order_head{
    font-family: 'Montserrat';
    font-weight: 100;
    font-size: 28px;
    margin-bottom: 40px;
    line-height: 100%;
}
.order_descr li{
    margin-bottom: 15px;
}
.order_descr li img{
    width: 30px;
    margin-right: 30px;
}
.order_descr li span{
    font-family: 'Montserrat';
    font-weight: 100;
    font-size: 20px;
    line-height: 175%;
}
.order{
    margin-bottom: 100px;
}


/* posts */
.content_micro_head{
    font-family: 'Montserrat';
    text-transform: unset;
    font-weight: 500;
    font-size: 30px;
    line-height: 100%;
    margin-bottom: 30px;
}
.end_post,
.content_descr{
    font-family: 'Montserrat';
    font-weight: 100;
    font-size: 22px;
    line-height: 150%;
    margin-bottom: 30px;
}
.content_list li{
    margin-bottom: 15px;
}
.content_list li img{
    width: 15px;
    margin-right: 30px;
}
.content_list li span{
    font-family: 'Montserrat';
    font-weight: 100;
    font-size: 22px;
    line-height: 100%;
}
.content_list{
    margin-bottom: 30px;
}
.content_image{
    max-width: 800px;
    width: 100%;
    margin-bottom: 30px;
    border-radius: 8px;
}
.content_code{
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 100;
    font-size: 22px;
    line-height: 150%;
    padding: 10px 30px;
    background: #f3f1ef;
    margin-bottom: 30px;
    border-radius: 4px;
}
.thumb_post{
    position: relative;
    min-width: 600px;
    min-height: 470px;
    height: 100%;
	background: url('./../img/service/bg_post_thumb.png');
	-webkit-background-size: 100%;
	background-size: 100%;
    margin-bottom: 50px;
}
.thumb_post::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url('./../DESIGN/пример.png');
    background-repeat: no-repeat;
    background-size: cover;
	background-position: center;
	mix-blend-mode: screen;
    filter: invert(0) !important;
}
.post_title{
    width: 100%;
    height: 100%;
    font-family: 'Caviar Dreams';
    font-style: normal;
    font-weight: normal;
    font-size: 54px;
    line-height: 63px;
    text-transform: uppercase;
    margin-bottom: 50px;
}
/* video */
.video{
    position: relative;
    max-width: 800px;
    width: 100%;
    margin-bottom: 30px;
}
.video video{
    width: 100%;
    border-radius: 8px;
}
.playpause{
    position: absolute;
    left: 50%;
    top: 50%;
    border: 4px solid #fff;
    border-radius: 50%;
    padding: 50px;
    transform: translate(-50%, -50%)
}
.playpause i{
    font-size: 40px;
    color: #fff;
    position: absolute;
}


/* project */
.head_way_project{
    font-family: 'Caviar Dreams';
    font-weight: 100;
    font-size: 54px;
    line-height: 63px;
    margin-right: 30px;
    text-transform: uppercase;
}
.head_post_way_project{
    font-family: 'Montserrat';
    font-weight: 100;
    font-size: 24px;
    line-height: 100%;
}
.head_way_project,
.head_post_way_project{
    margin-bottom: 20px;
}
.customer,
.description,
.type,
.price{
    padding-bottom: 30px !important;
    max-width: 350px;
    margin-right: 30px;
}
.customer p,
.description p,
.type p,
.price p{
    font-family: 'Montserrat';
    font-weight: 100;
    font-size: 22px;
    line-height: 150%;
}
.customer h3,
.description h3,
.type h3,
.price h3{
    font-family: 'Montserrat';
    text-transform: unset;
    font-weight: normal;
    font-size: 28px;
    line-height: 100%;
    margin-bottom: 15px;
}
.view a{
    display:inline-flex;
    max-width: 350px;
    height: 50px;
    width: 100%;
    border: 1px solid #000000;
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 22px;
    color: #1a1a1a;
    line-height: 27px;
    border-radius: 10px;
    margin-bottom: 50px;
}
.view a:hover{
    background: #1a1a1a;
    color: #fff;
}
.content_right{
    max-width: 800px;
}
.content_right iframe{
    height: 500px;
}
.content_right img,
.content_right iframe{
    box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
    margin-bottom: 50px;
    border-radius: 10px;
}


/* dark */
.project_content.dark a,
.project_content.dark,
.process_development.dark,
.order.dark,
.service_effect.dark,
.way.dark{
    color: #fff;
}
.post_content.dark .thumb_post,
.service_about_image_top.dark,
.service_about_image_bottom.dark,
.process_development.dark .head_service::after,
.order.dark .head_service::after,
.service_effect.dark .head_service::after,
.way.dark span img{
    filter: invert(0.85);
}
.post_content.dark .thumb_post::before{
    filter: invert(0) !important;
}
.service_about.dark{
    background: linear-gradient(260.07deg, #000 51.54%, rgba(0, 0, 0, 0) 92.11%), url('./../img/service/service_about_bg.png'), #000;
}
.order.dark .service_form{
    box-shadow: 0px 0px 20px rgba(255,255,255, 0.5);
}
.post_content.dark{
    color: #fff;
}
.post_content.dark .content_code{
    color: #1a1a1a;
}
.project_content.dark a{
    border-color: #fff;
}
.project_content.dark a:hover{
    background: #fff;
    color: #1a1a1a;
}
.project_content.dark img,
.project_content.dark iframe{
    box-shadow: 0px 0px 20px #fff;
}